/*
font-family: 'Fredoka One', cursive;
font-family: 'Roboto Condensed', sans-serif;


*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	width: 99vw;
	height: 99vh;
}

h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 3rem;
	padding: 50px 0 50px 0;
	text-align: center;
}

h2 {
	font-family: 'Fredoka One', cursive;
	font-size: 3rem;
}

#page1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box {
	width: 48%;
	height: 300px;
	text-align: center;
	display: flex;
	justify-content: center;
	border: 5px solid grey;
}

.box h2 {
	align-self: center;
}
