/*
font-family: 'Fredoka One', cursive;
font-family: 'Roboto Condensed', sans-serif;


*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	width: 99vw;
	height: 99vh;
}

h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 2rem;
	padding: 40px 0 50px 0;
	text-align: center;
	color: #292F36;
}

h2 {
	font-family: 'Fredoka One', cursive;
	font-size: 2rem;
}

#page1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
	margin: auto;
}

#page2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
	margin: auto;
}

#page3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
	margin: auto;
}

.box {
	width: 45%;
	max-width: 400px;
	height: 180px;
	text-align: center;
	display: flex;
	justify-content: center;
	border: solid grey;
}

.box h2 {
	align-self: center;
}

.top-block.left {
	border-width: 10px 5px 5px 10px;
}

.top-block.left h2 {
	transform: rotate(-30deg);
}

.top-block.right {
	border-width: 10px 10px 5px 5px;
}

.top-block.right h2 {
	transform: rotate(30deg);
}

.bottom.left {
	border-width: 5px 5px 10px 10px;
}

.bottom.left h2 {
	transform: rotate(30deg);
}

.bottom.right {
	border-width: 5px 10px 10px 5px;
}

.bottom.right h2 {
	transform: rotate(-30deg);
}

.hide {
	display: none !important;
}

.show {
	display: block;
}

@keyframes moveup {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0);
	}
}
.transition-up {
	animation: moveup 400ms ease-out;
	animation-direction: alternate;
}

@keyframes movedown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0);
	}
}
.transition-down {
	animation: movedown 400ms ease-out;
	animation-direction: alternate;
}

@keyframes moveleft {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0);
	}
}
.transition-left {
	animation: moveleft 400ms ease-out;
	animation-direction: alternate;
}

@keyframes moveright {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(0) ease-out;
	}
}
.transition-right {
	animation: moveright 400ms ease-out;
	animation-direction: alternate;
}

#pagefortune {
	width: 150px;
	margin: auto;
	font-family: 'Fredoka One', cursive;
	font-size: 2rem;
	color: #292F36;
	text-align: center;
	padding: 75px 75px;
	background-color: #4ECDC4;
	border-radius: 25px;
}

.red {
	color: #E9190F;
}

.pink {
	color: #D55672;
}

.orange {
	color: #FF5714;
}

.yellow {
	color: #FFAE03;
}

.green {
	color: #417C34;
}

.turquoise {
	color: #4ECDC4;
}

.blue {
	color: #0075A2;
}

.purple {
	color: #4C234B;
}

@media (min-width: 500px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 3rem;
	}
	.box {
		height: 250px;
	}
	#pagefortune {
		width: 300px;
	}
}
