/*
font-family: 'Fredoka One', cursive;
font-family: 'Roboto Condensed', sans-serif;


*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	width: 99vw;
	height: 99vh;
}

h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 3rem;
}

h2 {
	font-family: 'Fredoka One', cursive;
	font-size: 2rem;
}

#page1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#page2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#page3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box {
	width: 45%;
	height: 300px;
	text-align: center;
	display: flex;
	justify-content: center;
	border: 5px solid grey;
}

.box h2 {
	align-self: center;
}



.hide {
	visibility: hidden;
	height: 0;
}
.show {
	visibility: visible;
}
.blue {
	color: aqua;
	transition: all 1s;
}
/*
@keyframes moveup {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-50px);
	}
}
.transition-up {
	animation: moveup 2s;
}



@keyframes movedown {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(50px);
	}
}
.transition-down {
	animation: movedown 2s;
}



@keyframes moveleft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50px);
	}
}
.transition-left {
	animation: moveleft 2s;
}



@keyframes moveright {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(50px);
	}
}
.transition-right {
	animation: moveright 2s;
}
*/
